--swiftversion 6.0
--indent 4
--maxwidth 100
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--commas inline
--semicolons never
--stripunusedargs closure-only
--self remove
--importgrouping alpha
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable duplicateImports
--enable redundantBreak
--enable redundantClosure
--enable redundantFileprivate
--enable redundantGet
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable sortedImports
--enable strongifiedSelf
--enable todos
--enable unusedArguments
--enable void
--exclude .build,DerivedData,Pods,Carthage
